{% extends "content/base.html" %}

{% block tab_name %}Flag Leaderboard{% endblock %}
{% block nav_bar %}
  <a href="{% url 'front-page' %}">home</a> /
  <a href="{% url 'tag-or-content' 'code' %}">code</a>
{% endblock %}
{% block page_heading %}
  <h1>Leaderboard</h1>
{% endblock %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'flags.css' %}">
<div class="center">
    <p>Click <a href="{% url 'flags:vote' %}">here</a> to go to the voting page.</p>
</div>
<div class="table-outer">
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Place</th>
        <th>Flag</th>
        <th>Score</th>
      </tr>
    </thead>
    {% for flag in flags %}
      <tr>
        <td class="center-in-table">{{ forloop.counter }}</td>
        <td>{{ flag.name }}</td>
        <td class="center-in-table">
          <a href="https://www.crwflags.com/fotw/flags/{{ flag.source }}" target="_blank">
            <img src="{{ flag.img_url }}"
                alt="{{ flag.name }}"
                width="{{ flag.width }}"
                height="{{ flag.height }}">
          </a>
        </td>
        <td class="center-in-table">{{ flag.leaderboard_score|floatformat:2 }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}