{% extends 'content/base.html' %}

{% block main %}
  {% for post in posts %}
    {% include 'content/menu-item.html' with post=post %}
  {% endfor %}
{% endblock %}

{% block footer %}
  <div class="page-numbers">
    {% if num_pages > 1 %}
      {% include 'content/page-num.html' with link_num=1 %}
      {% if page_num > 3 %}
        <span class="page-num-ellipsis">...</span>
      {% endif %}
      {% if page_num > 2 %}
        {% include 'content/page-num.html' with link_num=page_num|add:-1 %}
      {% endif %}
      {% if page_num > 1 and page_num < num_pages %}
        {% include 'content/page-num.html' with link_num=page_num %}
      {% endif %}
      {% if page_num < num_pages|add:-1 %}
        {% include 'content/page-num.html' with link_num=page_num|add:1 %}
      {% endif %}
      {% if page_num < num_pages|add:-2 %}
        <span class="page-num-ellipsis">...</span>
      {% endif %}
      {% include 'content/page-num.html' with link_num=num_pages %}
    {% endif %}
  </div>
{% endblock %}
