<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'favicon.png' %}" />
    <link rel="stylesheet" href="/static/styles/{{ theme }}.css" />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if content %}
      <meta property="og:title" content="{{ content.title }}" />
      {% if content.description %}
        <meta property="og:image" content="{% static content.thumbnail %}" />
      {% else %}
        <meta property="og:image" content="{% static 'logo.svg' %}" />
      {% endif %}
      {% if content.description %}
        <meta property="og:description" content="{{ content.description }}" />
      {% else %}
        <meta property="og:description" content="{{ content.body }}" />
      {% endif %}
    {% else %}
      {% if tag.name == "damien snyder" %}
        <meta property="og:title" content="{{ tag.name }}" />
      {% else %}
        <meta property="og:title" content="{{ tag.name }} | damiensnyder.com" />
      {% endif %}
      <meta property="og:image" content="{% static 'logo.svg' %}" />
    {% endif %}

    <title>{% block tab_name %}{{ tag.name }}{% endblock %}</title>
  </head>
  <body>
    <header>
      {% block nav_bar %}<a href="{% url 'front-page' %}">home</a>{% endblock %}
    </header>

    {% block page_heading %}<h1>{{ tag.name }}</h1>{% endblock %}

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      {% block footer %}{% endblock %}
    </footer>
  </body>
</html>
