<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'content/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'content/base.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block tab_name %}{{ tag.name }}{% endblock %}</title>
  </head>
  <body>
    <header>
      {% block nav_bar %}<a href="{% url 'front-page' %}">home</a>{% endblock %}
    </header>

    {% block page_heading %}<h1>{{ tag.name }}</h1>{% endblock %}

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      {% block footer %}{% endblock %}
    </footer>
  </body>
</html>
