{% extends 'content/base.html' %}

{% block tab_name %}{{ content.title }}{% endblock %}
{% block nav_bar %}
  <a href="{% url 'front-page' %}">home</a> /
  <a href="{% url 'all-content-menu' %}">content</a> /
  <a href="{% url 'tag-or-content' content.primary_tag.id %}">{{ content.primary_tag.name }}</a>
{% endblock %}
{% block page_heading %}
  <h1>{{ content.title }}</h1>
{% endblock %}

{% block main %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'codehilite.css' %}">
  <link rel="stylesheet" href="{% static 'post-body.css' %}">

  <span class="timestamp">posted {{ content.timestamp|date:"Y.m.d" }}</span>
  {% autoescape off %}
    {{ content.markup }}
  {% endautoescape %}
{% endblock %}