{% extends 'content/base.html' %}
{% load static %}

{% block tab_name %}damien snyder{% endblock %}
{% block nav_bar %}{% endblock %}

{% block main %}
  <style>
    .row {
      margin: 0.5rem 0;
      display: flex;
      flex-flow: column;
      justify-content: baseline;
      align-items: stretch;
    }

    .row-header {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }

    .row-header h3 {
      margin: 0;
    }

    .hire-me {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    
    .tag-outer {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
    }

    .tag-info {
      font-size: 0.75rem;
      font-weight: 400;
      text-align: right;
      color: var(--text-tertiary);
      background-color: var(--bg-primary);
      font-style: oblique;
      white-space: nowrap;
    }

    .three-thumbnails {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      align-items: stretch;
    }

    .mini-item {
      flex: 1;
      display: flex;
      flex-flow: column;
      justify-content: baseline;
      align-items: center;
      text-align: center;
      font-size: 0.85rem;
    }
  </style>

  <main>
    <hr>
    <div class="hire-me">
      <img class="thumbnail" src="{% static 'thumbs/resume.png' %}" alt="résumé" />
      <h3>hire me</h3>
    </div>
    <hr>
    <div class="row">
      <div class="row-header">
        <h3>latest</h3>
        <a class="tag-info" href="{% url 'all-content-menu' %}">more posts →</a>
      </div>
      {% include 'content/menu-item.html' with post=featured_post.post %}
    </div>
    <div class="row">
      <div class="row-header">
        <h3>arcade</h3>
        <a class="tag-info" href="{% url 'tag-or-content' 'games' %}">more games →</a>
      </div>
      <div class="three-thumbnails">
        {% include 'content/mini-item.html' with name='Mayhem Manager' url='https://arcade.damiensnyder.com/mayhem-manager' thumbnail='/logo.svg' description='manage a team of gladiators' %}
        {% include 'content/mini-item.html' with name='Daily Q-less' url='https://arcade.damiensnyder.com/daily-qless' thumbnail='/thumbs/daily-qless.png' description='a new Q-less puzzle every day' %}
        {% include 'content/mini-item.html' with name='Auction Tic-Tac-Toe' url='https://arcade.damiensnyder.com/auction-tic-tac-toe' thumbnail='/logo.svg' description='tic-tac-toe but you bid on each square' %}
      </div>
    </div>
    <div class="row">
      <div class="row-header">
        <h3>music</h3>
        <a class="tag-info" href="{% url 'tag-or-content' 'songs' %}">more songs →</a>
      </div>
      <div class="three-thumbnails">
        {% include 'content/mini-item.html' with name='Turbo Hubcap Racing Superstars' url='/songs/turbo-hubcap' thumbnail='/thumbs/turbo-hubcap.png' description='4:41 ♬ by me and MaximumGuitar ' %}
        {% include 'content/mini-item.html' with name='the things i\'ve seen' url='/songs/the-things-ive-seen' thumbnail='/thumbs/the-things-ive-seen.png' description='4:45 ♬' %}
        {% include 'content/mini-item.html' with name='tell me what you know' url='/songs/tell-me-what-you-know' thumbnail='/logo.svg' description='3:29 ♬' %}
      </div>
    </div>
  </main>
{% endblock %}