{% load static %}

<div class="menu-item-outer">
  <a href="{% url 'content' post.primary_tag.url post.url %}">
    {% if post.thumbnail %}
      <img class="thumbnail" src="{% static post.thumbnail %}" />
    {% else %}
      <img class="thumbnail" src="{% static 'logo.svg' %}" />
    {% endif %}
  </a>
  <div class="menu-item-text">
    <span class="post-title">
      <a href="{% url 'content' post.primary_tag.url post.url %}">
        {{ post.title }}
      </a>
    </span>
    <span class="post-metadata">
      {{ post.timestamp|date:"Y.m.d" }}
      {% if post.description is not None %} &bull; {{ post.description }}{% endif %}
    </span>
  </div>
</div>