{% extends 'content/base.html' %}

{% block main %}
<p>hi {{ user.username }}</p>

<p>
    now that you have a profile i can give you roles. these let you
    view more posts. there are roles for knowing me personally, viewing drafts,
    viewing deep cuts, viewing even deeper cuts, and viewing especially personal
    posts. if you want to view deep cuts or drafts i make no guarantees you will
    find anything worthwhile. and if you want to view personal posts i make no
    guarantees that you will not feel weird about them. anyway just ask and ye
    may receive.
</p>

<p>more functionality coming soon...</p>

<p><a href="{% url 'logout' %}">log out</a></p>
{% endblock %}