<style>
  .quick-links {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0.3rem 0;

    font-weight: 600;
    color: var(--text-tertiary);
  }

  .quick-links a {
    margin: 0 1.5rem;
    color: var(--accent-secondary);
  }

  @media (max-width: 600px) {
    .quick-links {
      margin: 0;
    }

    .quick-links a {
      margin: 0 0.75rem;
    }
  }
</style>

{% load static %}

<hr />
<div class="quick-links">
  <a href="{% url 'tag-or-content' 'about' %}">about</a>
  <a href="mailto:fanmail@damiensnyder.com">contact</a>
  {% if logged_in %}
    <a href="{% url 'profile' %}">profile</a>
  {% else %}
    <a href="{% url 'login' %}">log in</a>
  {% endif %}
</div>
<hr />
