/* Dignified theme - Distinguished book/newspaper aesthetic */

:root {
  --bg-primary: #fcfbf9;
  --bg-secondary: #ebe7dd;
  --bg-tertiary: #e0dcd0;
  --text-primary: #1a1614;
  --text-secondary: #a09888;
  --text-tertiary: #6d6555;
  --accent-primary: #744;
  --accent-secondary: #74583c;

  --font-serif: Garamond, Baskerville, "Hoefler Text", "Palatino Linotype", Georgia, serif;
  --font-sans: Garamond, Baskerville, "Hoefler Text", "Palatino Linotype", Georgia, serif;
  --font-mono: Monaco, Menlo, monospace;
}

h1, h2, h3 {
  font-weight: 600;
  letter-spacing: 0.03em;
  font-variant: small-caps;
}

h1 {
  font-size: 2.2rem;
  border-bottom: 2px solid var(--text-secondary);
  padding-bottom: 0.5rem;
}

p {
  line-height: 1.7;
  text-align: justify;
  hyphens: auto;
}

ol, ul {
  line-height: 1.5;
}

a {
  font-family: Baskerville;;
  font-weight: 500;
}

p:first-of-type::first-letter {
  font-size: 2em;
  float: left;
  line-height: 0.9;
  margin: 0.1em 0.1em 0 0;
  text-transform: capitalize;
  text-shadow: 0 0 8px rgba(212, 77, 55, 0.4);
}