/* SITE-WIDE STYLES */

:root {
  --font-sans: Inter, -apple-system, BlinkMacSystemFont, Helvetica,
    "Helvetica Neue", Arial, sans-serif;
  --font-mono: Menlo, monospace;
  --font-serif: Spectral, "Source Serif Pro", serif;

  --bg-primary: #c0d7c0;
  --bg-secondary: #797;
  --bg-tertiary: #9c9;
  --text-primary: #020;
  --text-secondary: #252;
  --text-tertiary: #464;
  --accent-primary: #267;
  --accent-secondary: #057;
}

/* FONT FACES */

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-ExtraLight.woff2") format("woff2");
  font-weight: 100 200;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-ExtraBold.woff2") format("woff2");
  font-weight: 800 1000;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-ExtraLightItalic.woff2") format("woff2");
  font-weight: 100 300;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("/static/fonts/Spectral-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800 1000;
  font-style: italic;
}