/* SITE-WIDE STYLES */

:root {
  --font-sans: Menlo, monospace;
  --font-mono: Menlo, monospace;
  --font-serif: Menlo, monospace;

  --bg-primary: #000;
  --bg-secondary: #222;
  --bg-tertiary: #111;
  --text-primary: #fff;
  --text-secondary: #ccc;
  --text-tertiary: #999;
  --accent-primary: #0f0;
  --accent-secondary: #0b0;
}

title,
h1,
h2,
h3 {
  color: var(--text-primary);
}