/* SITE-WIDE STYLES */

:root {
    --font-sans: serif;
    --font-mono: sans-serif;
    --font-serif: "Comic Sans MS", Chalkboard, Chalkduster, Righteous, handwriting;
  
    --bg-primary: #ff2;
    --bg-secondary: #a84;
    --bg-tertiary: #752;
    --text-primary: #d00;
    --text-secondary: #a50;
    --text-tertiary: #800;
    --accent-primary: #c0c;
    --accent-secondary: #f0f;
  }