/* SITE-WIDE STYLES */

:root {
  --font-sans: Arial, "Helvetica Neue", Helvetica, -apple-system,
    BlinkMacSystemFont, sans-serif;
  --font-mono: Menlo, monospace;
  --font-serif: Spectral, "Source Serif Pro", serif;

  --bg-primary: #012;
  --bg-secondary: #004;
  --bg-tertiary: #006;
  --text-primary: #acc;
  --text-secondary: #1cc;
  --text-tertiary: #aaa;
  --accent-primary: #f8e;
  --accent-secondary: #a37;

  font-family: var(--font-sans);
}

/* FONT FACES */

@font-face {
  font-family: "Broadway";
  src: url("/static/fonts/Broadway.woff2") format("woff2");
}

h1,
h2,
h3,
.quick-links {
  font-family: Broadway;
}

.post-title,
.post-metadata {
  font-family: var(--font-sans);
}